<!-- Modal HTML Markup -->
<div id="ModalCommentForm-{{item.itemId}}" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title">Đánh giá</h1>
            </div>
            <div class="modal-body">
                <form role="form" method="POST" action="/user/commentBidder">
                    <input type="hidden" id="itemId" name="itemId" value="{{item.id}}">
                    <input type="hidden" id="ownerId" name="ownerId" value="{{item.owner}}">
                    <input type="hidden" id="bidderId" name="bidderId" value="{{item.bidder.id}}">
                    <div class="form-group">
                        <label class="control-label">Đánh giá của bạn</label>
                        <div>
                            <input type="text" class="form-control input-lg" name="comment" value=""
                                   required="required">
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="feel" value="like" checked="checked"> <i
                                        class="far fa-thumbs-up mr-4"></i>
                                    <input type="radio" name="feel" value="dislike"> <i class="far fa-thumbs-down"></i>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<a href="" data-toggle="modal" data-target="#ModalCommentForm-{{item.itemId}}"><i class="fas fa-comment fa-lg ml-2"></i></a>