<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <base href="/">
    <!-- SCRIPT AND LINK -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="../../assets/css/login.css">
    <link href="https://fonts.googleapis.com/css?family=Inria+Serif&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora&display=swap" rel="stylesheet">
    {{{_sections.header}}}
    <style>
        body {
            font-family: 'Lora', serif;
            background-image: url("/assets/imgs/login_bg.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        ul.drop-hover a:hover {
            color: #1114cc !important;
        }
        .custom-a {
            
            text-decoration: none;
            color: #1a64ee;
            font-family: 'Inria Serif', serif;
        }
        .custom-a:hover {
            text-decoration: none;
            color: #e27979;
            font-family: 'Inria Serif', serif;
        }
    </style>
</head>
<body>

{{{body}}}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>