<div class="card mt-4 h-100">
  <div class="card-body">
    <h5 class="card-title">Vui lòng nhập đầy đủ các thông tin!</h5>
      {{> user/message}}
  <form action="/user/changePassword" method="post">
  <div class="form-group row">
    <label for="inputPassword" class="col-sm-3 col-form-label">Password</label>
    <div class="col-sm-9">
      <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="password">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPassword2" class="col-sm-3 col-form-label">New password</label>
    <div class="col-sm-9">
      <input type="password" class="form-control" id="inputPassword2" placeholder="Password" name="newpass">
    </div>
  </div>
   <div class="form-group row">
    <label for="inputPassword2" class="col-sm-3 col-form-label">Confirm password</label>
    <div class="col-sm-9">
      <input type="password" class="form-control" id="inputPassword3" placeholder="Confirm password" name="newpass1">
    </div>
  </div>
  <div class="col-sm-3 offset-sm-3">
   <button type="submit" class="btn btn-primary align-self-center">Save</button>
   </div>
</form>
  </div>
</div>