<div class="card mt-4 h-100">
    <div class="card-header bg-transparent">
        <h3 class="text-center"><strong>Danh sách chờ duyệt</strong></h3>
    </div>
    <div class="card-body">
        <div class="row">
            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Họ tên</th>
                    <th scope="col">Sản phẩm</th>
                    <th scope="col">Duyệt</th>
                </tr>
                </thead>
                <tbody>
                {{#each pendingItems}}
                    <tr>
                        <th scope="row">{{user.name}}</th>
                        <td>{{item.name}}</td>
                        <td><a href="/user/accept?uid={{user._id}}&id={{item._id}}"><i class="fas fa-check-square"></i></a>
                            <a href="/user/refuse?uid={{user._id}}&id={{item._id}}" class="ml-4"><i class="fas fa-times"></i></a></td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    <nav aria-label="...">
        <ul class="pagination justify-content-center my-3">
            {{#if navs.prev}}
                <li class="page-item">
                    <a class="page-link" href="/user/pending?page={{navs.prev}}" aria-label ="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {{else}}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {{/if}}
            {{#each pages}}
                {{#if active}}
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" href="javascript:;">
                            {{value}} <span class="sr-only">(current)</span>
                        </a>
                    </li>
                {{else}}
                    <li class="page-item">
                        <a class="page-link" href="/user/pending?page={{value}}">
                        {{value}}
                        </a>
                    </li>
                {{/if}}
            {{/each}}

            {{#if navs.next}}
                <li class="page-item">
                    <a class="page-link" href="/user/pending?page={{navs.next}}" aria-label ="Next">
                    <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {{else}}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {{/if}}
        </ul>
    </nav>
</div>