<div class="card mt-4 h-100">
  <div class="card-body">
    <h5 class="card-title">Vui lòng nhập đầy đủ các thông tin!</h5>
      {{> user/message}}
  <form action="/user/dashboard" method="post">
  <div class="form-group row">
    <label for="inputEmail" class="col-sm-3 col-form-label">Email</label>
    <div class="col-sm-9">
      <input type="email" class="form-control" id="inputEamil" placeholder="Email" value="{{user.email}}" name="email" readonly>
    </div>
  </div>
   <div class="form-group row">
    <label for="inputName" class="col-sm-3 col-form-label">Name</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="inputName" placeholder="Name" value="{{user.name}}" name="name">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPassword" class="col-sm-3 col-form-label">Password</label>
    <div class="col-sm-9">
      <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="password">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPassword2" class="col-sm-3 col-form-label">Confirm password</label>
    <div class="col-sm-9">
      <input type="password" class="form-control" id="inputPassword2" placeholder="Confirm password" name="password2">
    </div>
  </div>
  <div class="col-sm-3 offset-sm-3">
   <button type="submit" class="btn btn-primary align-self-center">Save</button>
   </div>
</form>
  </div>
</div>