<div class="card mt-4 h-100">
    <div class="card-body">
        <h5 class="card-title">Trở thành seller</h5>
        {{> user/message}}
        <p>Yêu cầu của bạn sẽ được gởi cho ban quản trị xét duyệt khi bạn nhấn nút.</p>
        <form action="/user/request" method="post">
            <div class="form-group row">
                <label for="reason" class="col-sm-2 col-form-label">Lí do</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="reason" placeholder="Lí do" name="reason">
                </div>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1" required>
                <label class="form-check-label" for="exampleCheck1">Tôi đồng ý chấp nhận điều khoản khi trở thành seller.</label>
            </div>
            <div class="col-sm-3 offset-sm-3">
                <button type="submit" class="btn btn-primary align-self-center">Send</button>
            </div>
        </form>
    </div>
</div>