<div class="card mt-4 h-100">
    <div class="card-body">
        <h5 class="card-title">Điểm: <i class="far fa-thumbs-up mx-2"></i>({{user.reviews.upVote}})<i class="far fa-thumbs-down ml-4 mr-2"></i>({{user.reviews.downVote}})</h5>
            {{#each comments}}
                <p>Sản phẩn: {{item.name}}</p>
                <p>Người đăng: {{user.name}}</p>
                <p>Nhận xét: {{comment}}</p>
                <p>Vote: {{#if vote}}<i class="far fa-thumbs-up mx-2"></i>{{else}}<i class="far fa-thumbs-down mx-2"></i>{{/if}}</p>
            {{/each}}
        <nav aria-label="...">
    <ul class="pagination justify-content-center my-3">
        {{#if navs.prev}}
            <li class="page-item">
                <a class="page-link" href="/user/reviews?page={{navs.prev}}" aria-label ="Previous">
                <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        {{else}}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        {{/if}}
        {{#each pages}}
            {{#if active}}
                <li class="page-item active" aria-current="page">
                    <a class="page-link" href="javascript:;">
                        {{value}} <span class="sr-only">(current)</span>
                    </a>
                </li>
            {{else}}
                <li class="page-item">
                    <a class="page-link" href="/user/reviews?page={{value}}">
                    {{value}}
                    </a>
                </li>
            {{/if}}
        {{/each}}

        {{#if navs.next}}
            <li class="page-item">
                <a class="page-link" href="/user/reviews?page={{navs.next}}" aria-label ="Next">
                <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        {{else}}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        {{/if}}
    </ul>
</nav>
    </div>
</div>