{{#section 'header'}}
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.1/css/fileinput.min.css" media="all"
    rel="stylesheet" type="text/css" />
{{/section}}

<div class="card mt-4 h-100">
    <div class="card-body">
        <h5 class="card-title">Vui lòng nhập đầy đủ các thông tin!</h5>
        {{> user/message}}
        <form action="/user/sell" method="post" id="formSelling" enctype="multipart/form-data">
            <div class="form-group row">
                <label for="inputName" class="col-sm-3 col-form-label">Tên sản phẩm</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="inputName" placeholder="Tên sản phẩm" name="name"
                        required>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputInitPrice" class="col-sm-3 col-form-label">Giá khởi điểm</label>
                <div class="col-sm-9">
                    <input type="number" class="form-control" id="inputInitPrice" placeholder="Giá khởi điểm"
                        name="initPrice" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputJump" class="col-sm-3 col-form-label">Bước giá</label>
                <div class="col-sm-9">
                    <input type="number" class="form-control" id="inputJump" placeholder="Bước giá" name="jump"
                        required>
                </div>
            </div>
            <div class="form-group row">
                <label for="intputInstant" class="col-sm-3 col-form-label">Giá mua ngay</label>
                <div class="col-sm-9">
                    <input type="number" class="form-control" id="intputInstant" placeholder="Giá mua ngay"
                        name="instantPrice" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEndDate" class="col-sm-3 col-form-label">Thời điểm kết thúc</label>
                <div class="col-sm-9">
                    <input type="datetime-local" class="form-control" id="inputEndDate" placeholder="Kết thúc"
                        name="endDate" required>
                </div>
            </div>

            <div class="form-group row">
                <label for="category" class="col-sm-3 col-form-label">Danh mục</label>
                <div class="col-sm-9">
                    <select class="form-control" id="category" name="category">
                        {{#each categories}}
                        <option value="{{name}}">{{name}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
            <div>
                <label for="images">Ảnh</label>
            </div>

            <div class="file-loading">
                <input id="images" name="images" type="file" multiple>
            </div>

            <div class="form-group row">
                <label for="info" class="col-sm-3 col-form-label">Thông tin sản phẩm</label>
                <textarea style="display: none" id="info" name="info"></textarea>
            </div>
            <div id="editor"></div>
            <div class="col-sm-3 offset-sm-3 mt-3">
                <button type="submit" class="btn btn-primary align-self-center">Submit</button>
            </div>
        </form>
    </div>
</div>
{{#section 'footer'}}
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.1/js/plugins/piexif.min.js"
    type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.1/js/plugins/sortable.min.js"
    type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.1/js/plugins/purify.min.js"
    type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.1/js/fileinput.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.1/themes/fas/theme.min.js"></script>
<script>
    var quill = new Quill('#editor', {
        modules: {
            toolbar: [
                ['bold', 'italic'],
                ['link', 'blockquote', 'code-block', 'image'],
                [{list: 'ordered'}, {list: 'bullet'}]
            ]
        },
        placeholder: 'Điền thông tin',
        theme: 'snow'
    });
    $("#formSelling").on("submit", function () {
        $("#info").val(quill.container.firstChild.innerHTML);
    });
</script>
<script>
    $(document).ready(function () {
        $("#images").fileinput({
            theme: "fas",
            browseClass: "btn btn-primary btn-block",
            showCaption: false,
            showRemove: false,
            showUpload: false,
            fileActionSettings: {
                showRemove: false,
                showUpload: false,
                showZoom: false
            }
        });
    });
</script>
{{/section}}