<div class="card mt-4 h-100">
    <div class="card-header bg-transparent">
        <h3 class="text-center"><strong>Sản phẩm đang bán</strong></h3>
    </div>
    <div class="card-body">
        <div class="row">
            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Sản Phẩm</th>
                    <th scope="col">Giá hiện tại</th>
                    <th scope="col">Thời gian kết thúc</th>
                    <th scope="col">Ảnh</th>
                </tr>
                </thead>
                <tbody>
                {{#each items}}
                    <tr>
                        <th scope="row">{{name}}</th>
                        <td>{{priceNow}}</td>
                        <td>{{endTime}}</td>
                        <td> <a href="detail?id={{itemId}}"><img src="{{images.[0]}}" alt="{{name}}" class="img-fluid img-thumbnail h-25"></a></td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    <nav aria-label="...">
        <ul class="pagination justify-content-center my-3">
            {{#if navs.prev}}
                <li class="page-item">
                        <a class="page-link" href="/user/sellNow?page={{navs.prev}}" aria-label ="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {{else}}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {{/if}}
            {{#each pages}}
                {{#if active}}
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" href="javascript:;">
                            {{value}} <span class="sr-only">(current)</span>
                        </a>
                    </li>
                {{else}}
                    <li class="page-item">
                        <a class="page-link" href="/user/sellNow?page={{value}}">
                        {{value}}
                        </a>
                    </li>
                {{/if}}
            {{/each}}

            {{#if navs.next}}
                <li class="page-item">
                    <a class="page-link" href="/user/sellNow?page={{navs.next}}" aria-label ="Next">
                    <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {{else}}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {{/if}}
        </ul>
    </nav>
</div>