<div class="card shadow mt-4 h-100">
    <div class="card-header bg-light"><i class="fas fa-user mr-2"></i>Tài khoản của {{user.name}}</div>
    <div class="list-group">
        <ul class="list-group list-group-flush">
            <a href="/user/dashboard"
               class="list-group-item list-group-item-action{{#if profile}} active disabled{{/if}}">
                <i class="fas fa-user-edit mr-2"></i>
                <strong>Thông tin tài khoản</strong>
            </a>
            <a href="/user/changePassword"
               class="list-group-item list-group-item-action{{#if changePassword}} active disabled{{/if}}">
                <i class="fas fa-key mr-2"></i>
                <strong>Thay đổi mật khẩu</strong>
            </a>
            <a href="/user/reviews?page=1"
               class="list-group-item list-group-item-action {{#if reviews}} active disabled{{/if}}">
                <i class="fas fa-star mr-2"></i>
                <strong>Điểm đánh giá</strong>
            </a>
            <a href="/user/watch?page=1"
               class="list-group-item list-group-item-action {{#if watch}} active disabled{{/if}}">
                <i class="fas fa-heart mr-2"></i>
                <strong>Sản phẩm đang theo dõi</strong>
            </a>
            <a href="user/now?page=1" class="list-group-item list-group-item-action {{#if now}} active disabled{{/if}}">
                <i class="fas fa-list mr-2"></i>
                <strong>Đang đấu giá</strong>
            </a>
            <a href="user/history?page=1"
               class="list-group-item list-group-item-action {{#if history}} active disabled{{/if}}">
                <i class="fas fa-history mr-2"></i>
                <strong>Đã thắng</strong>
            </a>
            {{#ifeq user.type 0}}
                <a href="user/request"
                   class="list-group-item list-group-item-action {{#if request}} active disabled{{/if}}">
                    <i class="fas fa-level-up-alt mr-2"></i>
                    <strong>Nâng cấp</strong>
                </a>
            {{/ifeq}}
            {{#ifeq user.type 1}}
                <a href="user/sell" class="list-group-item list-group-item-action {{#if isSelling}} active disabled{{/if}}">
                    <i class="fas fa-cart-plus mr-2"></i>
                    <strong>Đăng sản phẩm</strong>
                </a>
                <a href="user/sellNow" class="list-group-item list-group-item-action {{#if sellNow}} active disabled{{/if}}">
                    <i class="fas fa-shopping-cart mr-2"></i>
                    <strong>Danh sách đang bán</strong>
                </a>
                <a href="user/sold" class="list-group-item list-group-item-action {{#if sold}} active disabled{{/if}}">
                    <i class="fas fa-hourglass-end mr-2"></i>
                    <strong>Danh sách đã bán</strong>
                </a>
                <a href="user/pending" class="list-group-item list-group-item-action {{#if pending}} active disabled{{/if}}">
                    <i class="fas fa-hourglass-end mr-2"></i>
                    <strong>Danh sách chờ duyệt</strong>
                </a>
            {{/ifeq}}
        </ul>
    </div>


</div>