<!-- Footer -->
<footer class="container-fluid bg-grey py-5">
<div class="container">
   <div class="row">
      <div class="col-md-6">
         <div class="row">
            <div class="col-md-6 ">
               <div class="logo-part">
                  <img src="../../assets/imgs/logo-khtn.png" class="w-50 logo-footer" >
                  <hr/>
                  <p>University of Science</p>
               </div>
            </div>
            <div class="col-md-6 px-4">
               <h6> About Us</h6>
               <i class="fab fa-facebook"></i>
               <a href="https://www.facebook.com/bao.khanh.967" class="btn-footer">Bao Khanh</a><br>
               <i class="fab fa-facebook"></i>
               <a href="https://www.facebook.com/rakuen.kuro" class="btn-footer">Dang Khoa</a>
            </div>
         </div>
      </div>
      <div class="col-md-6">
         <div class="row">
            <div class="col-md-6 px-4">
               <h6> Help us</h6>
               <div class="row ">
                  <div class="col-md-6">
                     <ul>
                        <li> <a href="/"> Home</a> </li>
                        <li> <a href="#"> About</a> </li>
                        <li> <a href="#"> Contact</a> </li>
                     </ul>
                  </div>
               </div>
            </div>
            <div class="col-md-6 ">
               <h6>Final Project</h6>
            </div>
         </div>
      </div>
   </div>
</div>
</footer>
	<!-- ./Footer -->