<nav class="navbar navbar-expand-lg sticky-top navbar-dark p-4 custom-nav-color">
    <a class="custom-link" href="/">
        <span data-text="A">A</span>
        <span data-text="U">U</span>
        <span data-text="C">C</span>
        <span data-text="T">T</span>
        <span data-text="I">I</span>
        <span data-text="O">O</span>
        <span data-text="N">N</span>
    </a>
    
    <button class="navbar-toggler custom-toggler p-0 mt-5" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">


        </ul>

        <form class="form-inline my-2 my-lg-0" action="/search" method="get">
            <div class="searchbar">
                <input class="search_input" type="text" name="query" placeholder="Search...">
                <input class="search_input" type="hidden" name="page" value="1" />
                <input class="search_input" type="hidden" name="sortBy" value="default" />
            </div>
        </form>
        {{#if user}}
            <div class="dropdown show mx-4">
                <a class="btn nav-link dropdown-toggle text-dark custom-btn" href="#" id="navbarDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Welcome, {{user.name}}
                </a>

                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="/user/dashboard"><i class="fas fa-user mr-2"></i>Info</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/user/logout"><i class="fas fa-sign-out-alt mr-2"></i>Sign out</a>
                </div>
            </div>
        {{else}}
            <a href="/user/register" class="btn text-dark mr-2 rounded shadow custom-btn" role="button"
               aria-disabled="true">Register</a>
            <a href="/user/login" class="btn text-dark mr-2 rounded shadow custom-btn" role="button"
               aria-disabled="true">Login</a>
        {{/if}}
    </div>
</nav>
<hr/>