
    <nav class="navbar navbar-expand-lg navbar-dark p-5 custom-nav-color">
         <a class="custom-link" href="/">
        <span data-text="A">A</span>
        <span data-text="U">U</span>
        <span data-text="C">C</span>
        <span data-text="T">T</span>
        <span data-text="I">I</span>
        <span data-text="O">O</span>
        <span data-text="N">N</span>
</a>
    </nav>
    
<hr/>
