<div class="card shadow mt-4 custom-sidebar" style="min-height:9rem; min-width: 12rem;">
    <div class="card-header bg-light">
        Danh mục
    </div>
    <div class="list-group">
        <ul class="list-group list-group-flush">
            <a href="/all"
               class="list-group-item list-group-item-action">
                <strong>Tất cả</strong>
            </a>
            {{#each categories}}
            <a href="/category/{{name}}?sortBy=default"
               class="list-group-item list-group-item-action">
                <strong>{{name}}</strong>
            </a>
            {{/each}}
        </ul>
    </div>
</div>