<!--HEADER -->

<div class="header">
    {{> home/header}}
</div>

<!--BODY -->
<div id="wrapper">

    <!-- Sidebar -->
    {{> admin/sidebar}}


    <div id="content-wrapper">

        <div class="container-fluid">

            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/admin/category">{{title}}</a>
                </li>
                <li class="breadcrumb-item active">List</li>
            </ol>
            <div class="container-fluid">


                <div class="container">
                    <div class="row">
                        <div class="col">
                            {{> user/message}}
                            {{#if edit}}
                                {{> admin/editCategory}}
                            {{/if}}
                            {{#if add}}
                                {{> admin/addCategory}}
                            {{/if}}
                            {{#if index}}
                                {{> admin/category}}
                            {{/if}}
                        </div>

                    </div>


                </div>
            </div>


        </div>
    </div>

</div>

<!-- /.container-fluid -->

<!-- FOOTER -->

<div class="footer">
    {{> home/footer}}
</div>

   

