<!--HEADER -->

<div class="header">
   {{> home/header}}
</div>

<!--BODY -->
<div id="wrapper">

        <!-- Sidebar -->
        {{> admin/sidebar}}


        <div id="content-wrapper">

            <div class="container-fluid">

                <!-- Breadcrumbs-->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/admin/user">{{title}}</a>
                    </li>
                    <li class="breadcrumb-item active">List</li>
                </ol>
                <div class="container-fluid">
   
      
        <div class="container">
    <div class="row">
        <div class="col">
            {{> user/message}}
           
            {{#if index}}
            {{> admin/user}}
            {{/if}}
        </div>

</div>
      
      
      
   </div>
</div>





            </div>
        </div>
      
    </div>

    </div>
    <!-- /.container-fluid -->

    <!-- FOOTER -->

<div class="footer">
  {{> home/footer}}
</div>


    </div>
</div>

{{#section 'footer'}}
<script>
    function editClick(){
        $('#formHiddenEdit').submit();
    }
    function addClick(){
        $('#formHiddenAdd').submit();
    }
</script>
{{/section}}
   

