<div class="header">
   {{> home/header}}
</div>


<!-- BODY -->
<div class="container-fluid">
   <div class="row">
      <div id="sidebar" class="col-md-2">
         {{> admin/sidebar}}
      </div>
      
        <div class="container">
    <div class="row">
        <div class="col">
            {{> user/message}}
            {{#if edit}}
            {{> admin/editCategory}}
            {{/if}}
            {{#if add}}
            {{> admin/addCategory}}
            {{/if}}
            {{#if index}}
            {{> admin/category}}
            {{/if}}
        </div>
    </div>
</div>
      
      
      
   </div>
</div>






{{#section 'footer'}}
<script>
    function editClick(){
        $('#formHiddenEdit').submit();
    }
    function addClick(){
        $('#formHiddenAdd').submit();
    }
</script>
{{/section}}