
<div class="header">
    {{> home/header}}
</div>
<div class="container">
   <div class="row">
      <div class="col-md-4">
         {{>dashboard/side}}
      </div>

{{#if profile}}
   <div class="col-md-8">
         {{>dashboard/profile}}
   </div>
{{/if}}


{{#if changePassword}}
   <div class="col-md-8">
         {{>dashboard/changePassword}}
   </div>
{{/if}}



{{#if reviews}}
   <div class="col-md-8 scroll">
      {{>dashboard/reviews}}
   </div>
{{/if}}
{{#if watch}}
<div class="col-md-8 scroll">
         {{>dashboard/watch}}
      </div>
{{/if}}
{{#if now}}
<div class="col-md-8 scroll">
         {{>dashboard/now}}
      </div>
{{/if}}
{{#if history}}
<div class="col-md-8 scroll">
         {{>dashboard/history}}
      </div>
{{/if}}
{{#if isSelling}}
<div class="col-md-8 scroll">
         {{>dashboard/selling}}
      </div>
{{/if}}
{{#if sellNow}}
<div class="col-md-8 scroll">
         {{>dashboard/sellNow}}
      </div>
{{/if}}
       {{#if request}}
           <div class="col-md-8 scroll">
               {{>dashboard/request}}
           </div>
       {{/if}}
       {{#if sold}}
           <div class="col-md-8 scroll">
               {{>dashboard/sold}}
           </div>
       {{/if}}
       {{#if pending}}
           <div class="col-md-8 scroll">
               {{>dashboard/pending}}
           </div>
       {{/if}}
       {{#if allReviews}}
           <div class="col-md-8 scroll">
               {{>dashboard/allReviews}}
           </div>
       {{/if}}
   </div>
</div>