
{{#section 'header'}}
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.1/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css"/>
{{/section}}

<form action="/seed/demo" enctype="multipart/form-data" method="post">
    <div>
        <label for="images">Ảnh</label>
    </div>

    <div class="file-loading">
        <input id="images" name="images" type="file" multiple>
    </div>

    <input id="id" name="id" type="number">

     <button type="submit" class="btn btn-primary align-self-center">Submit</button>
</form>

{{#section 'footer'}}
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.1/js/plugins/piexif.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.1/js/plugins/sortable.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.1/js/plugins/purify.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.1/js/fileinput.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.1/themes/fas/theme.min.js"></script
    <script>
        $(document).ready(function() {
            $("#images").fileinput({
                theme: "fas",
                browseClass: "btn btn-primary btn-block",
        showCaption: false,
        showRemove: false,
        showUpload: false,
        fileActionSettings: {
            showRemove: false,
            showUpload: false,
            showZoom: false
        }
            });
        });
    </script>
{{/section}}
