<!--HEADER -->

<div class="header">
   {{> home/header}}
</div>

<!--BODY -->
<div id="wrapper">

        <!-- Sidebar -->
        {{> admin/sidebar}}


        <div id="content-wrapper">

            <div class="container-fluid">

                <!-- Breadcrumbs-->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/admin/user">{{title}}</a>
                    </li>
                    <li class="breadcrumb-item active">{{user.name}}</li>
                </ol>
                <div class="container-fluid">
   
      
        <div class="container">
    <div class="row">
        <div class="col">
            {{> user/message}}
            {{#if user}}
                            <div class="card">
  <h5 class="card-header">Detail</h5>
  <div class="card-body">
    <h5 class="card-title d-inline">Name: {{user.name}}</h5>
    <p class="card-text d-inline ml-5">User ID: {{user.userId}}</p>
    <p class="card-text mt-2">Address: {{user.address}}</p>
    <p class="card-text">Email: {{user.email}}</p>
    <p class="card-text">Role: {{user.role}}</p>
    <hr>
    {{#each comments}}      
       Comments on {{item.name}}: {{comment}}<hr>
    {{/each}}
  </div>
</div>
            {{/if}}
            

            
        </div>

</div>
      
      
      
   </div>
</div>





            </div>
        </div>
      
    </div>

    </div>
    <!-- /.container-fluid -->

    <!-- FOOTER -->

<div class="footer">
  {{> home/footer}}
</div>


    </div>
</div>

{{#section 'footer'}}
<script>
    function editClick(){
        $('#formHiddenEdit').submit();
    }
    function addClick(){
        $('#formHiddenAdd').submit();
    }
</script>
{{/section}}
   

