<!-- NAVIGATION BAR/HEADER -->
<div class="header custom-header">
   {{> home/header}}
</div>

<!-- BODY -->
<div class="container-fluid">
   <div class="row">
      <div id="sidebar" class="col-md-2">
         {{> home/sidebar}}
      </div>
      
         <div class="col-md-10">
            <div class="container-fluid">
               {{> home/content/content_top5_1}}
            </div>
            <div class="container-fluid">
               {{> home/content/content_top5_2}}
            </div>
            <div class="container-fluid">
               {{> home/content/content_top5_3}}
            </div>
         </div>
      
      
      
   </div>
</div>

<!-- BACK TO TOP BUTTON -->
<button onclick="topFunction()" class="btn btn-info" id="myBtn" title="Go to top">Back to top</button>  
<!-- FOOTER -->

<div class="footer">
  {{> home/footer}}
</div>
