<!-- HEADER SECTION -->
<div class="header">
   {{> home/header}}
</div>

<!-- BODY SECTION-->

<div class="container-fluid">
   <div class="row">
         <div class="container-fluid">
            {{> itemAll/content}}
         </div>
      </div>
      
   </div>
</div>


<!-- FOOTER SECTION-->

<div class="footer">
  {{> home/footer}}
</div>
