<!-- HEADER SECTION -->

{{#section 'header'}}
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
{{/section}}

<div class="header">
    {{> home/header}}
</div>

<!-- BODY SECTION-->

<div class="container">
    <div class="row my-4">
        <div class="col-md">
            {{> itemDetail/content}}
        </div>
    </div>
    <div class="row my-4">
        <div class="col-md">
            <div class="card">
                <div class="card-header bg-transparent">
                    <div class="d-flex">
                        <div class="w-100"><h3><strong>Chi tiết</strong></h3></div>
                        {{#if isOwner}}
                            <div class="flex-shrink-1">
                                <button type="button" class="btn btn-primary px-3" id="edit"><i class="fas fa-edit"></i>
                                </button>
                            </div>
                        {{/if}}
                    </div>
                </div>
                <div class="card-body">
                    {{{item.detailDescription}}}
                    <form id="formHiddenEdit" method="post" action="/item/update/{{item.id}}" style="display: none">
                        <textarea style="display: none" id="info" name="info"></textarea>
                        <div id="editor">
                            <p id="edit-title"><strong>Bổ sung mô tả sản phẩm</strong></p>
                        </div>
                        <div class="row">
                            <div class="col text-center">
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            {{> itemDetail/bidTable}}
        </div>
    </div>
</div>

<div class="container-fluid">
    {{> itemDetail/bottom}}
</div>


<!-- FOOTER SECTION-->

<div class="footer">
    {{> home/footer}}
</div>


{{#section 'footer'}}
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script>
        $(document).ready(function () {
            var quill = new Quill('#editor', {
                modules: {
                    toolbar: [
                        ['bold', 'italic'],
                        ['link', 'blockquote', 'code-block', 'image'],
                        [{list: 'ordered'}, {list: 'bullet'}]
                    ]
                },
                placeholder: 'Điền thông tin',
                theme: 'snow'
            });
            $("#edit").click(function () {
                $("#formHiddenEdit").show();
            });
            $("#formHiddenEdit").on("submit", function () {
                $("#info").val(quill.container.firstChild.innerHTML);
            });
        });
    </script>
{{/section}}