{{#section 'header'}}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
{{/section}}

<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Sign In</h5>
                    {{> user/message}}
                    <form class="form-signin" action="/user/login" method="post">
                        <div class="form-label-group">
                            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" name="email" required autofocus>
                            <label for="inputEmail">Email address</label>
                        </div>

                        <div class="form-label-group">
                            <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" required>
                            <label for="inputPassword">Password</label>
                        </div>

                        <div class="custom-control custom-checkbox mb-3">
                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                            <label class="custom-control-label" for="customCheck1">Remember password</label>
                        </div>
                        <div class="g-recaptcha" align="center" data-sitekey="{{site}}"></div>
                        <br/>
                        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
                        <p class="" align="center">Don't have an account? <a class="custom-a" href="/user/register">Register</a> now</p>
                        <hr class="my-4">
                        
                        
                        <p align="center"><a class="custom-a" href="/">Back to home page</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>