<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Sign Up</h5>
                    {{> user/message}}
                    <form class="form-signin" action="/user/register" method="post">
                        <div class="form-label-group">
                            <input type="text" id="inputName" class="form-control" placeholder="Name" name="name" {{#if name}}value="{{name}}"{{/if}} required autofocus>
                            <label for="inputName">Name</label>
                        </div>

                        <div class="form-label-group">
                            <input type="text" id="inputAddress" class="form-control" placeholder="Address" name="address" {{#if address}}value="{{address}}"{{/if}} required>
                            <label for="inputAddress">Address</label>
                        </div>


                        <div class="form-label-group">
                            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" name="email" {{#if email}}value="{{email}}"{{/if}} required>
                            <label for="inputEmail">Email address</label>
                        </div>

                        <div class="form-label-group">
                            <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" required>
                            <label for="inputPassword">Password</label>
                        </div>

                        <div class="form-label-group">
                            <input type="password" id="inputPassword2" class="form-control" placeholder="Password2" name="password2" required>
                            <label for="inputPassword2">Confirm password</label>
                        </div>

                        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign up</button>
                        <p  align="center">Already have an account? <a class="custom-a" href="/user/login">Login</a> now</p>
                        <hr>
                        <p align="center"><a class="custom-a" href="/">Back to home page</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>