<div class="container">
    <div class="row">
        <div class="col">
            {{#if success}}
                <h1 align="center"> Click <a class="custom-a" href="/">here</a> to go back to home page </h1>
            {{else}}
                <h1> not ok</h1>
            {{/if}}
        </div>
    </div>
</div>