<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>500 Internal Server Error</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
    <style>

        html,
        body {
            height: 100%;
            margin: 0;
        }

        body {
            background: linear-gradient(#111, #333, #111);
            background-repeat: no-repeat;
            background-size: cover;
            color: #eee;
            position: relative;
            font-family: 'Roboto', sans-serif;
        }

        .message {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }

        h1, h2, h3 {
            margin: 0;
            line-height: .8;
        }

        h2, h3 {
            font-weight: 300;
            color:  #C8FFF4;
        }

        h1 {
            font-weight: 700;
            color: #03DAC6;
            font-size: 8em;
        }

        h2 {
            margin: 30px 0;
        }

        h3 {
            font-size: 2.5em;
        }

        h4 {
            display: inline-block;
            margin: 0 15px;
        }

        button {
            background: transparent;
            border: 2px solid  #C8FFF4;
            color: #C8FFF4;
            padding: 5px 15px;
            font-size: 1.25em;
            transition: all 0.15s ease;
            border-radius: 3px;
        }

        button:hover {
            background: #03DAC6;
            border: 2px solid #03DAC6;
            color: #111;
            cursor: pointer;
            transform: scale(1.05);
        }
    </style>

</head>

<body>

<div class="message">
    <h1>{{errCode}}</h1>
    <h3>Server Error</h3>
    <h2>{{errorMsg}}</h2>
    <!-- use window.history.back(); to go back -->
    <button onclick="window.history.back();">Go Back</button>
</div>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>
