<img src="{{images.[0]}}" class="card-img-top img-thumbnail" alt="{{name}}">
<div class="card-body {{#if fresh}}text-danger{{/if}}">
    <h5 class="text-center py-2"><strong>{{name}}</strong></h5>
    {{#if isWatched}}
        <div>
            <a href="item/watch/{{itemId}}" class="btn btn-primary btn-success text-center w-100 mb-4 disabled" ><i
                    class="fas fa-heart"></i> Added to Watch List</a>
        </div>
    {{else}}
        <div>
            <a href="item/watch/{{itemId}}" class="btn btn-primary btn-info text-center w-100 mb-4"><i
                    class="fas fa-heart"></i> Add to Watch List</a>
        </div>
    {{/if}}
    <h5>Mua ngay: {{priceInstant}}.</h5>
    <h5>Giá hiện tại: {{priceNow}}.</h5>
    <h5>Người bán: {{owner.name}}.</h5>
    <h5>Người mua hiện tại: {{bidder.maskedName}}.</h5>
    <h5>Bắt đầu: {{startTime}}</h5>
    {{#if status}}
        <h5>Kết thúc: {{endTime}}</h5>
    {{else}}
        <h5>Kết thúc: Đã kết thúc</h5>
    {{/if}}
    <a href="detail?id={{itemId}}" class="stretched-link"></a>
</div>