<div class="card card-custom mt-4 shadow">
    <div class="card-header bg-light text-center">
        <h3><strong>Giá cao nhất</strong></h3>
    </div>


    <div class="card-body">
        <div class="row mx-auto p-2">

            {{#each items_3}}
                <div class="col-md-4 my-3 py-2 mb-0">
                    <div class="card shadow card-child h-100 {{#if fresh}}border-success{{/if}}">

                        {{> item/card}}
                    </div>

                </div>
            {{/each}}
        </div>
    </div>

</div>