body {
    font-family: 'Signika', sans-serif;
    margin: 0;
    padding: 0;
}

.bg-grey {
    background: #383838;
}

.card-custom {
    background: #c2babab9;
}

.logo-footer {
    margin-bottom: 40px;
}

footer {
    top: 3rem;
    bottom: 0;
    position: relative;
    color: rgb(255, 255, 255);
}

footer p,
a {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}

footer h6 {
    font-family: 'Playfair Display', serif;
    margin-bottom: 40px;
    position: relative;
}

footer h6:after {
    position: absolute;
    content: "";
    background: grey;
    width: 12%;
    height: 1px;
    left: 0;
    bottom: -20px;
}

.btn-footer {
    color: grey;
    text-decoration: none;
    border: 1px solid;
    border-radius: 43px;
    font-size: 13px;
    padding: 7px 30px;
    line-height: 47px;
}

.btn-footer:hover {
    text-decoration: none;
}

.social .fa {
    color: grey;
    font-size: 22px;
    padding: 10px 15px;
    background: #3c3c3c;
}

footer ul li {
    list-style: none;
    display: block;
}

footer ul {
    padding-left: 0;
}

footer ul li a {
    text-decoration: none;
    color: grey;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #797171 !important;
}

.logo-part {
    border-right: 1px solid rgb(34, 30, 30);
    height: 100%;
}

.searchbar {
    margin-bottom: auto;
    margin-top: auto;
    margin-right: 15px;
    height: 45px;
    background-color: #fff;
    border-radius: 30px;
    padding: 10px;
}

.search_input {
    color: black;
    border: 0;
    outline: 0;
    background: none;
    width: 250px;
    caret-color: transparent;
    line-height: 25px;
    transition: width 0.4s linear;
}

.searchbar:hover>.search_icon {
    background: white;
    color: #e74c3c;
}

.search_icon {
    height: 25px;
    width: 25px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    text-decoration: none;
}

.custom-link {
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 60px;
    padding: 0 1rem;
    line-height: 60px;
    text-align: center;
    border: 2px solid rgb(0, 0, 0);
    font-size: 30px;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    overflow: hidden;
}

.custom-link span {
    display: inline-block;
    transition: 0.5s;
}

.custom-link span:nth-child(odd):before {
    content: attr(data-text);
    position: absolute;
    transform: translateY(100%);
}

.custom-link span:nth-child(odd) {
    transform: translateY(-100%);
}

.custom-link:hover span:nth-child(odd) {
    transform: translateY(0);
    color: rgb(255, 255, 255);
}

.custom-link span:nth-child(even):before {
    content: attr(data-text);
    position: absolute;
    transform: translateY(-100%);
}

.custom-link span:nth-child(even) {
    transform: translateY(100%);
}

.custom-link:hover span:nth-child(even) {
    transform: translateY(0);
    color: rgb(255, 255, 255);
}

.custom-btn {
    font-size: 110%;
    border: 2px solid black;
    background-color: transparent !important;
}

.custom-btn:hover {
    background-color: rgb(255, 254, 254);
}

.custom-btn:active {
    color: rgb(109, 86, 86);
}

.custom-toggler {
    border: 2px solid black;
    background-color: transparent !important;
}

.custom-toggler:hover {
    background-color: rgb(102, 102, 230);
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-width: 2px;
    border-style: groove;
}

@media screen and (max-width: 700px) {
    .custom-sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .custom-sidebar a {
        float: left;
    }
    div.content {
        margin-left: 0;
    }
}

@media screen and (max-width: 400px) {
    .custom-sidebar a {
        text-align: center;
        float: none;
    }
}

#myBtn {
    font-size: 100%;
    margin-top: 2rem;
    margin-left: 50%;
    padding-left: 20px;
    padding-right: 20px;
}

#myBtn:hover {
    background-color: rgb(255, 249, 249);
}