<div class="card card-custom mt-4 shadow">
    <div class="card-header bg-light text-center">
        All
    </div>


    <div class="card-body">
        <div class="container">
            <div class="row">
                {{#each items}}
                    <div class="col-md-4 py-2 mb-0">
                        <div class="card h-100 shadow my-2 mx-2 {{#if fresh}}border-danger{{/if}}">
                            {{> item/card}}
                        </div>
                    </div>
                {{/each}}
            </div>

            <nav aria-label="...">
                <ul class="pagination justify-content-center my-3">
                    {{#if navs.prev}}
                        <li class="page-item">
                            <a class="page-link" href="/all/?page={{navs.prev}}" aria-label ="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {{else}}
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {{/if}}
                    {{#each pages}}
                        {{#if active}}
                            <li class="page-item active" aria-current="page">
                                <a class="page-link" href="javascript:;">
                                    {{value}} <span class="sr-only">(current)</span>
                                </a>
                            </li>
                        {{else}}
                            <li class="page-item">
                                <a class="page-link" href="/all/?page={{value}}">
                                {{value}}
                                </a>
                            </li>
                        {{/if}}
                    {{/each}}

                    {{#if navs.next}}
                        <li class="page-item">
                            <a class="page-link" href="/all/?page={{navs.next}}" aria-label ="Next">
                            <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    {{else}}
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    {{/if}}
                </ul>
            </nav>
        </div>
    </div>
</div>