<table class="table">
    <thead class="thead">
    <tr class="table-info">
        <th scope="col">Thời điểm</th>
        <th scope="col">Người mua</th>
        <th scope="col">Giá</th>
    </tr>
    </thead>
    <tbody class="table-light">
    {{#each item.history}}
    <tr>
        <th scope="row">{{bidTime}}</th>
        <td>{{maskedName}}</td>
        <td>{{price}}{{#if @root.isOwner}}<a href="/user/ignore?user={{bidder.id}}&item={{@root.item.id}}" class="ml-4"><i class="fas fa-ban"></i></a>{{/if}}</td>
    </tr>
    {{/each}}
    </tbody>
</table>