<div class="card ml-3 mb-3 mt-4">
    <div class="card-header bg-transparent">
        <h3 class="text-center"><strong>Sản phẩm cùng chuyên mục</strong></h3>
    </div>
    <div class="card-body">
        <div class="row no-gutters">
        {{#each randomItems}}
                <div class="col-md py-2 mb-0">
                    <div class="card h-100 mx-2">
                        <img src="{{images.[0]}}" class="card-img-top img-thumbnail" alt="{{name}}">
                        <div class="card-body">
                            <h5 class="text-center"><strong>{{name}}</strong></h5>
                            <h5 class="my-2">Giá hiện tại: {{priceNow}}</h5>
                            <a href="detail?id={{itemId}}" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
        {{/each}}
        </div>
    </div>


</div>