<div class="card">
    <div class="card-header bg-transparent">
        <h3><strong>{{item.name}}</strong></h3>
    </div>
    <div class="row no-gutters">
        <div class="col-md-4">
            <div class="card h-100">
                <!--Carousel Wrapper-->
                <div id="carousel-example-1z" class="h-100 carousel slide carousel-fade" data-ride="carousel">
                    <!--Slides-->
                    <div class="carousel-inner h-100" role="listbox">
                        {{#each imgs}}
                            <div class="carousel-item {{#if isActive}}active{{/if}} h-100">
                                <img class="d-block w-100 h-100" src="{{value}}"
                                     alt="images">
                            </div>
                        {{/each}}
                    </div>
                    <!--/.Slides-->
                    <!--Controls-->
                    <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev"><i
                            class="fas fa-arrow-left" style="color: #1114cc"></i>
                    </a>
                    <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
                        <i class="fas fa-arrow-right" style="color: #1114cc"></i>
                    </a>
                    <!--/.Controls-->
                </div>
                <!--/.Carousel Wrapper-->
            </div>
        </div>
        <div class="col-md-8">
            <div class="card h-100 py-2">
                <div class="card-body">
                    {{> user/message}}
                    <h5>Mua ngay: {{item.priceInstant}}.</h5>
                    <h5>Giá hiện tại: {{item.priceNow}}.</h5>
                    <h5>Bước nhảy: {{item.jump}}.</h5>
                    <h5>Người bán: {{item.owner.name}}. <a href="/user/{{item.owner._id}}/review" target="_blank">(Đánh giá)</a></h5>
                    <h5>Người mua hiện tại: {{item.bidder.maskedName}}.{{#if item.bidder}} <a href="/user/{{item.bidder._id}}/review" target="_blank">(Đánh giá)</a>{{/if}}</h5>
                    <h5>Bắt đầu: {{item.startTime}}</h5>
                    {{#if item.status}}
                        <h5>Kết thúc: {{item.endTime}}</h5>
                        <form class="form-inline" onsubmit="return confirm('Bạn có chắc chắn đấu giá?');"
                              action="/item/bid?item={{item.itemId}}" method="post">
                        <h5><label class="my-1 mr-2" for="inputPrice">Giá: </label></h5>
                        <input type="number" class="form-control mb-2 mr-sm-2" id="inputPrice"
                               placeholder="Price" value="{{item.hintPrice}}" min="{{item.hintPrice}}" name="price">
                        <button type="submit" class="btn btn-primary">Đấu giá</button>
                        </form>
                        <form class="form-inline" onsubmit="return confirm('Bạn có chắc chắn đấu giá?');"
                              action="/item/autobid?item={{item.itemId}}" method="post">
                        <h5><label class="my-1 mr-2" for="inputAuto">Giá: </label></h5>
                        <input type="number" class="form-control mb-2 mr-sm-2" id="inputAuto"
                               placeholder="Price" value="{{item.hintPrice}}" min="{{item.hintPrice}}" name="priceMax">
                        <button type="submit" class="btn btn-primary">Đấu giá tự động</button>
                        </form>
                    {{else}}
                        <h5>Kết thúc: Đã kết thúc.</h5>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>