<nav aria-label="...">
    <ul class="pagination justify-content-center my-3">
        {{#if navs.prev}}
            <li class="page-item">
                <a class="page-link" href="/search?query={{query}}&page={{navs.prev}}&sortBy={{sortOption}}" aria-label ="Previous">
                <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        {{else}}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        {{/if}}
        {{#each pages}}
            {{#if active}}
                <li class="page-item active" aria-current="page">
                    <a class="page-link" href="javascript:;">
                        {{value}} <span class="sr-only">(current)</span>
                    </a>
                </li>
            {{else}}
                <li class="page-item">
                    <a class="page-link" href="/search?query={{query}}&page={{value}}&sortBy={{sortOption}}">
                    {{value}}
                    </a>
                </li>
            {{/if}}
        {{/each}}

        {{#if navs.next}}
            <li class="page-item">
                <a class="page-link" href="/search?query={{query}}&page={{navs.next}}&sortBy={{sortOption}}" aria-label ="Next">
                <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        {{else}}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        {{/if}}
    </ul>
</nav>