<div class="card card-custom mt-4 shadow">
    <div class="card-header bg-light text-center">
        <h3>Tất cả</h3>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="dropdown show">
                <a class="btn btn-info dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sắp xếp
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="/category/{{name}}?page=1&sortBy=time">Thời gian kết thúc giảm
                    dần</a>
                    <a class="dropdown-item" href="/category/{{name}}?page=1&sortBy=price">Giá tăng dần</a>
                </div>
            </div>
        </div>
    </div>

    <div class="card-body">
        <div class="container">
            <div class="row">
                {{#each items}}
                    <div class="col-md-4 py-2 mb-0">
                        <div class="card h-100 shadow my-2 mx-2">
                            {{> item/card}}
                        </div>
                    </div>
                {{/each}}
            </div>

            {{>category/pagin}}
        </div>
    </div>
</div>