<table class="table table-light table-striped">
    <thead class="thead-dark">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    {{#each categories}}
        <tr>
            <th scope="row">{{catId}}</th>
            <td>{{name}}</td>
            <td><a href="/admin/category/edit?id={{id}}" class="ml-4"><i class="fas fa-edit"></i></a>
                <a href="/admin/category/delete?id={{id}}" class="ml-4"><i class="fas fa-trash"></i></a></td>
        </tr>
    {{/each}}
    <tr>
        <td>
            <form id="formHiddenAdd" method="post" action="/admin/category/add">
                <input type="text" name="name">
                <button type="submit"><i class="fas fa-check"></i></button>
            </form>
        </td>
    </tr>
    </tbody>
</table>