 <table class="table table-light table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
     <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
      {{#each categories}}
    <tr>
      <th scope="row">{{catId}}</th>
      <td style="transform: rotate(0);">{{name}}<a class="stretched-link" href="/admin/item/{{name}}"></a></td><td><a href="/admin/category/edit?id={{id}}" class="ml-4"><i class="fas fa-edit"></i></a>
      <a href="/admin/category/delete?id={{id}}" class="ml-4"><i class="fas fa-trash"></i></a></td>
    </tr>
      {{/each}}
    <tr>
         <td><a href="/admin/category/add" class="ml-4"><i class="fas fa-plus"></i></a></td>
    </tr>
  </tbody>
</table>