<table class="table table-light table-striped">
    <thead class="thead-dark">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    {{#each categories}}
        <tr>
            <th scope="row">{{catId}}</th>
            {{#if isEdit}}
                <td>
                    <form id="formHiddenEdit" method="post" action="/admin/category/edit">
                        <input type="text" name="name">
                        <input type="hidden" name="id" value="{{id}}">
                        <button type="submit"><i class="fas fa-check"></i></button>
                    </form>
                </td>
            {{else}}
                <td>
                    {{name}}
                </td>
            <td><a href="/admin/category/edit?id={{id}}" class="ml-4"><i class="fas fa-edit"></i></a>{{/if}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>