 <table class="table table-light table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
      {{#each users}}
    <tr>
      <th scope="row">1</th>
      <td>
          {{#if isEdit}}
          <form id = "formHiddenEdit" method="post" action="/admin/user/edit">
                <input type="text" name="type">
                <input type="hidden" name="id" value="{{id}}">
            </form>
            <button type="button" class="fas fa-check-circle" onclick="editClick()"></button>
          {{else}}
          {{name}}
          <a href="/admin/category/edit?id={{id}}" class="ml-4"><i class="fas fa-edit"></i></a>{{/if}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>