 <table class="table table-light table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
      {{#each items}}
    <tr>
      <th scope="row">{{itemId}}</th>
      <td>{{name}}</td>
      <td><a href="/admin/item/delete?id={{id}}" class="ml-4"><i class="fas fa-trash"></i></a></td>
    </tr>
      {{/each}}
    
  </tbody>
</table>