 <table class="table table-light table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
      {{#each admins.pendingBidder}}
    <tr>
        
      <th scope="row">{{userId}}</th><td style="transform: rotate(0);">{{name}}<a class="stretched-link" href="/admin/users/{{_id}}"></a></td><td>{{email}}</td>
      <td><a href="/admin/user/upgrade/{{_id}}" class="ml-4"><i class="fas fa-check-square"></i></a>
      <a href="/admin/user/refuse/{{_id}}" class="ml-4"><i class="fas fa-times"></i></a></td>
      
    </tr>
    
      {{/each}}
  
  </tbody>
</table>