<ul class="sidebar navbar-nav">
    <li class="nav-item">
        <a class="nav-link" href="/admin/category">
            <i class="fas fa-fw fa-folder-open"></i>
            <span>Categories</span>
        </a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-fw fa-list"></i>
            <span>Items</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="pagesDropdown">
            <a class="dropdown-item" href="/admin/item">Tất cả</a>
            {{#each categories}}
                <a class="dropdown-item" href="/admin/item/{{name}}">{{name}}</a>
            {{/each}}
        </div>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-fw fa-user"></i>
            <span>Users</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="pagesDropdown">
            <a class="dropdown-item" href="/admin/users">All</a>
            <a class="dropdown-item" href="/admin/user/pendingBidder">Pending</a>
        </div>
    </li>
</ul>