 <table class="table table-light table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Role</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
      {{#each users}}
    <tr>
      <th scope="row">{{userId}}</th>
      <td style="transform: rotate(0);">{{name}}<a class="stretched-link" href="/admin/users/{{_id}}"></a></td><td>{{role}}</td><td>
      <a href="/admin/users/delete?id={{id}}" class="ml-4"><i class="fas fa-trash"></i></a></td>
      
    </tr>
      {{/each}}
    
  </tbody>
</table>